.filter-btn {
  /* position: absolute; */
  /* z-index: 2; */
  /* right: 290px; */
  /* width: 50px;
  height: 50px; */
    /* margin-right: 240px; */
  transition: all 0.4s ease-in-out 0s;

  width: 50px;
  height: 50px;
  background-color: #ffffff;
  cursor: pointer;
  bottom: 50px;
  right: 10px;
  z-index: 2;
  position: fixed;
  border-radius: 50%;
  -webkit-box-shadow: 0px -1px 20px 5px rgba(0, 0, 0, 0.19);
  box-shadow: 0px -1px 20px 5px rgba(0, 0, 0, 0.19);
  color: #000000;
  line-height: 50px;
  text-align: center;
  font-size: 0px;

}

.filter-btn span {

  width: 40px;
  height: 40px;
  background:#CBD622;
  display: block;
  position: absolute;
  right: 215px;
  top: -46px;
  text-align: center;
  color: grey;
  line-height: 40px;
  border-radius: 50%;
  font-size: 22px;
  z-index: 999;
}
span.fas fa-filter:hover{
      cursor: pointer;
}
.filter-btn a {
  position: absolute;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  right: 215px;
  display: block;
  top: -46px;
  color:#64655B ;
  z-index: 99;
  font-size: 22px;
  transition: all .4s cubic-bezier(.68, 1, .265, 1)
}

.filter-btn:after {
  height: 170px;
  width: 170px;
  content: '"\f00d"';
  background-color: #E2EA66;
  position: absolute;
  top: -110px;
  right: 170px;
  border-radius: 50%;
  transform: scale(0);
  transition: all 0.3s ease-in-out 0s;

}

.filter-btn.open span.toggle-btn.fal fa-times {
  background-color:#969E1B;
}

.filter-btn.open .fal fa-times:before {
  content: "\f00d";
}

.open:after {
  transform: scale(1);
}

.filter-btn.open a:nth-child(1) {
  transform: translate(9px, -62px);
}

.filter-btn.open a:nth-child(2) {
  transform: translate(-50px, -34px);
}

.filter-btn.open a:nth-child(3) {
  transform: translate(-56px, 25px);
}

.filter-btn.open a:nth-child(4) {
  transform: translate(5px, 61px);
}


.filterDiv {
float: left;
background-color: white;
color: white;
width: 310px;
line-height: 100px;
text-align: center;
margin: 10px;
display: none;
}

.show {
display: block;
}

.container {
margin-top: 20px;
overflow: hidden;
}

/* Style the buttons */
.btn {
border: none;
outline: none;
padding: 12px 16px;
background-color: lightgreen;
cursor: pointer;
}

.btn:hover {
background-color: grey;
}

.btn.active {
background-color: black;
color: white;
}
